.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  box-sizing: border-box;
  & a {
    text-decoration: none;
  }
  & a:visited {
    color: $White;
  }
  .group {
    margin-bottom: 40px;
    &__group-name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__group-message {
      font-size: 11px;
    }
  }
}


