.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  color:$White;

  &__group-name{
    font-size: 15px;
    padding: 5px;
  }
  &__group__message{
    font-size: 11px;
    padding: 40px;
  }


}